<app-nav></app-nav>

<h1 class = "text-7xl text-center text-black p-10">Prochains bus arret insa</h1>

<div class = "justify-center">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-stone-50 m-auto ">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef class = "text-green-600"> Id de ligne </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="sens">
      <th mat-header-cell *matHeaderCellDef class = "text-black"> sens </th>
      <td mat-cell *matCellDef="let element"> {{element.sens}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef class = "text-black"> latitude </th>
      <td mat-cell *matCellDef="let element"> {{element.position.latitude}} </td>
    </ng-container>
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef class = "text-black"> longitude </th>
      <td mat-cell *matCellDef="let element"> {{element.position.longitude}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="horraire" >
      <th mat-header-cell *matHeaderCellDef class = "text-black"> arrivée </th>
      <td mat-cell *matCellDef="let element" > {{element.arriveetheorique}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"   ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>